<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <form action="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <p class="pt-2"><strong>Sign up for our newsletter</strong></p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-5 col-12 mb-4 mb-md-0">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" placeholder=" Enter your Emailid" class="form-control" />
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-auto mb-4 mb-md-0">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">Subscribe</button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #43D1F9">
      © 2020 Copyright:
      <a class="text-dark" href="https://Wittymindtech.com/">WittyMind Technologies</a>
    </div>
    <!-- Copyright -->
  </footer>