<nav class="navbar navbar-expand-lg navbar-light " style="background-color:#43D1F9 ;">
    <div class="container-fluid">
      <img height=" 80px" width="100px" src="./../../../assets/images/new logo.png" alt="">
      <a class="navbar-brand" href="#" style="color: white; font-size: 35px; font-weight: 600;">NPK-KNOTS</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="width: 50%; ">
        <ul class="nav nav-pills" style=" font-size:medium; font-weight: 500;">
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#carouselExampleCaptions"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
              <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
            </svg>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#newsandupdate">News and Updates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#Coursebooking">Course Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#about">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: white;" href="#contact">ContactUs</a>
          </li>
         <!-- <li class="nav-item"> 
            <button class="btn btn-sm btn-outline-light" type="button" [routerLink]="['login']" style="margin-right:5px;">Login</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-sm btn-outline-light" type="button">Registration</button>
          </li>-->
        </ul>
        
          <a [routerLink]="['login']" class="button7" style="background-color:#FFD449">Login</a>
          <a [routerLink]="['register']" class="button7" style="background-color:#CCCCCC; color:#000000">Register</a>
      
      </div>

    </div>
  </nav>
