<section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="search">
            <form action="" data-toggle="validator" data-focus="false" role="form">
              <div class="form-group has-error has-danger">
                <span><i class="fa fa-times-circle"></i></span>
                <input class="input" type="text" name="q" placeholder="How may we help you?" required data-error="Please enter a search term">
                <button type="submit" class="disabled"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg></button>
                <div class="help-block with-errors">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>