<section style="width:90%; margin: auto; margin-top: 30px;">
    <div>
        <h1 class="display-5">Popular Business</h1>
    </div>
    <div style="margin-top: 50px;">
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white;  float: left; margin-left: 45px;">
            <img src="../../../assets/Taj Hotel.jpg" height="250px"  class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">Taj Hotel</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white; float: left; margin-left: 45px;">
            <img src="../../../assets/Taj Resort.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">Taj Resort</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white; float: left; margin-left: 45px; margin-right: 45px;">
            <img src="../../../assets/ITC mugal resort.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">ITC mugal resort</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white;  margin-left: 45px;">
            <img src="../../../assets/PVR cinemas.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">PVR cinemas</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
    </div>
    <hr>
    
  </section>

  <section style="width:90%; margin: auto; margin-top: 30px;">

    <div>
        <h1 class="display-5">Popular Services</h1>
    </div>
    <div style="margin-top: 50px;">
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white;  float: left; margin-left: 45px;">
            <img src="../../../assets/Taj Hotel.jpg" height="250px"  class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">Taj Hotel</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white; float: left; margin-left: 45px;">
            <img src="../../../assets/Taj Resort.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">Taj Resort</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white; float: left; margin-left: 45px;">
            <img src="../../../assets/ITC mugal resort.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">ITC mugal resort</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        <div class="card" style="width: 18rem; background-color: #323A4C; color: white; float: left; margin-left: 45px;">
            <img src="../../../assets/PVR cinemas.jpg" height="250px" class="card-img-top" alt="TajHotel">
            <div class="card-body">
              <h5 class="card-title">PVR cinemas</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-outline-light">View</a>
            </div>
            
        </div>
        
    </div>
  </section>