
<h1 class="display-5" style="background-color: #43D1F9; color: white; padding: 10px;">Register Now...</h1>
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
        
      <div class="login100-pic js-tilt" data-tilt>
        <img src="./../../../assets/images/undraw_authentication_fsn5.svg" alt="IMG">
      </div>

      <form class="login100-form validate-form" id="form">
        <span class="login100-form-title">
          Member Registration
        </span>
        
        <div class="wrap-input100 validate-input" data-validate = "Name is required">
            <input class="input100" type="text" name="name" placeholder="Name" [(ngModel)]="Name" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-user" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "MobileNo is required">
            <input class="input100" type="number" name="mobileno" placeholder="MobileNo" [(ngModel)]="MobileNo" required>
            <span class="focus-input100"></span>
            <span class="symbol-input100">
                <i class="fa fa-mobile" aria-hidden="true"></i>
            </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz" required>
          <input class="input100" type="text" name="email" placeholder="Email" [(ngModel)]="Email">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
              <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
            </svg>
          </span>
        </div>

        <div class="wrap-input100 validate-input" data-validate = "Password is required">
          <input class="input100" type="password" name="pass" placeholder="Password" [(ngModel)]="Password" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-shield-lock-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5z"/>
            </svg>
          </span>
        </div>
        
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" form="form" (click)="getregister({'Name':Name,'MobileNo':MobileNo, 'Email':Email,'Password':Password})">
            Register
          </button>
        </div>
        <div *ngIf="result == 'Email Id already registered'">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Opps!</strong> {{result}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div *ngIf="result == 'success'">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>Great!</strong> Successfully Register. Please Login to Continue...
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="text-center p-t-136">
          <a class="txt2" [routerLink]="['/login']" >
            Already Registered Login here
            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>



